<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreCheckSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PreCheckSys.Properties.Settings>
            <setting name="DbServIP" serializeAs="String">
                <value>192.168.100.58</value>
            </setting>
            <setting name="MaxMem" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DBPath" serializeAs="String">
                <value>F:\</value>
            </setting>
            <setting name="DBBackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="sStartStation" serializeAs="String">
                <value>艮山门站</value>
            </setting>
            <setting name="sEndStation" serializeAs="String">
                <value>新桥站</value>
            </setting>
            <setting name="miniDiskSpace" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6379</value>
            </setting>
            <setting name="currDBIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubDbSize" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="videoPort" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="cameraIPA" serializeAs="String">
                <value>192.168.100.55</value>
            </setting>
            <setting name="cameraIPB" serializeAs="String">
                <value>192.168.100.52</value>
            </setting>
            <setting name="cameraIPC" serializeAs="String">
                <value>192.168.100.53</value>
            </setting>
            <setting name="cameraIPD" serializeAs="String">
                <value>192.168.100.54</value>
            </setting>
            <setting name="gwPort" serializeAs="String">
                <value>9002</value>
            </setting>
            <setting name="cameralInfoA" serializeAs="String">
                <value>吊弦相机1</value>
            </setting>
            <setting name="cameralInfoB" serializeAs="String">
                <value>吊弦相机2</value>
            </setting>
            <setting name="cameralInfoC" serializeAs="String">
                <value>吊弦相机3</value>
            </setting>
            <setting name="cameralInfoD" serializeAs="String">
                <value>吊弦相机4</value>
            </setting>
            <setting name="RedColor" serializeAs="String">
                <value>238, 102, 102</value>
            </setting>
            <setting name="GreenColor" serializeAs="String">
                <value>137, 220, 102</value>
            </setting>
            <setting name="camera3DIP" serializeAs="String">
                <value>192.168.100.56</value>
            </setting>
            <setting name="camera3DInfo" serializeAs="String">
                <value> 3D相机</value>
            </setting>
            <setting name="AIServIP" serializeAs="String">
                <value>192.168.100.20</value>
            </setting>
            <setting name="MainServIP" serializeAs="String">
                <value>192.168.100.58</value>
            </setting>
            <setting name="SwitchIP" serializeAs="String">
                <value>192.168..100.200</value>
            </setting>
            <setting name="MainServInfo" serializeAs="String">
                <value>检测处理服务器</value>
            </setting>
            <setting name="AIServInfo" serializeAs="String">
                <value>智能分析服务器</value>
            </setting>
            <setting name="DBMemLimit" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="ISaveImgNumByOnce" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IDelDataByOnce" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IImgNumTwoPole" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="isDelAllDB" serializeAs="String">
                <value>True</value>
            </setting>
        </PreCheckSys.Properties.Settings>
    </userSettings>
</configuration>